.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


[type='text'], [type='email'], [type='date'], [type='tel'] {
  border-width: 0;
  --tw-ring-color: unset !important;
  --tw-ring-shadow: unset !important;
  border-color: unset !important;
}

.react-international-phone-country-selector-dropdown {
  z-index: 22;
}

.react-international-phone-input-container .react-international-phone-input {
  border: unset !important;
}